.about-us {
  /* border: 1px solid blue; */
  margin-top: 3em;
  background: #e2cfc4;
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-title {
  font: 30px Proxima Nova;
  text-align: center;
}

.about-description {
  font: 25px Proxima Nova;
  text-align: center;
}

.map {
  width: 40em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.guide {
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
}

.address {
  margin-top: 1em;
}

.address-font {
  text-align: center;
  font: 25px Proxima Nova;
  font-weight: 400;
}

.like {
  margin-top: 4em;
  padding-bottom: 5em;
}
.follow {
  text-align: center;
  font: 40px Proxima Nova;
}

.social {
  display: flex;
  justify-content: space-evenly;
}
