.image-one {
  border: 1px solid black;
}

.description-one {
  border: 1px solid black;
}

.image-two {
  border: 1px solid black;
}

.description-two {
  border: 1px solid black;
}

.image-three {
  border: 1px solid black;
}

.description-three {
  border: 1px solid black;
}
