.first {
  margin-top: 5em;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
}

.bulgogi {
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: 1px solid black; */
}
.writing-one {
  /* border: 1px solid black; */
}

.second {
  margin-top: 4em;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin-left: 1.5em;
}
.spicy-pork {
  width: 43%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: 1px solid black; */
}

.writing-two {
  /* border: 1px solid black; */
}

.third {
  margin-top: 4em;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
}
.bibimbap {
  width: 41%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: 1px solid black; */
}

.writing-three {
  /* border: 1px solid black; */
}
