.logo {
  /* border: 1px solid blue; */
}

.logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.nav {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  margin-bottom: -1rem;
  /* border-bottom: 1px solid #333333; */
}

.nav-bar {
  width: 100%;
}

.nav-menu {
  font: 25px Proxima Nova;
  text-decoration: none;
  margin-bottom: 1em;
}

.special {
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.special:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
